@import '../../node_modules/open-props/open-props.min.css';
@import 'animate-letters.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }
    
    html, body {
        width: 100%;
        height: 100%;
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }

    body {
        color: #fff;
        cursor: url('../../assets/cursor.png') 16 16, auto;
    }

    main {
        padding: 1rem;

        @screen sm {
            padding: 2rem;
        }
    }

    .display-1 {
        font-size: 5rem;
        font-weight: 700;
    }

    .display-2 {
        font-size: 4.5rem;
        font-weight: 700;
    }

    .display-3 {
        font-size: 4rem;
        font-weight: 700;
    }

    .display-4 {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .display-5 {
        font-size: 3rem;
        font-weight: 700;
    }

    .display-6 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .ff-jacquard-12 {
        font-family: 'Jacquard 12', sans-serif;
        font-weight: 400;
    }

    .ff-yatra-one {
        font-family: 'Yatra One', sans-serif;
        font-weight: 400;
    }

    .ff-anton {
        font-family: 'Anton', sans-serif;
        font-weight: 400;
    }

    .ff-sriracha {
        font-family: 'Sriracha', sans-serif;
        font-weight: 400;
    }

    .ff-black-ops-one {
        font-family: 'Black Ops One', sans-serif;
        font-weight: 400;
    }

    .ff-comfortaa {
        font-family: 'Comfortaa', sans-serif;
        font-weight: 400;
    }
}

@layer components {
    header + * {
        padding-top: 4rem;
    }
    h1.logo [data-animate-letters] {
        display: inline-block;
    }

    nav.main-menu {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        color: #fff;

        & .main-menu-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            appearance: none;
            background-color: transparent;
            border: none;
            color: #fff;
            cursor: pointer;
            z-index: 99;

            & > .main-menu-toggle-icon {
                display: block;
                font-size: 2.5rem;
                margin-right: .5rem;

                & > .main-menu-toggle-icon-bar {
                    display: block;
                    width: 2rem;
                    height: 0.25rem;
                    margin: 0.25rem 0;
                    background-color: #fff;
                    border-radius: 0.25rem;
                }
            }

            & > .main-menu-toggle-text {
                display: none;

                @screen md {
                    display: block;
                }
            }
        }

        & > .main-menu-wheel-wrapper {
            display: block;
            width: calc(100% - 1rem);
            height: calc(100% - 2rem);
            background-color: #fff1;
            backdrop-filter: blur(5px);
            padding: 4rem;
            border: none;
            border-radius: 20px;
            animation: scale-down-slide-up-left 0.5s ease-in-out;
            opacity: 1;
            
            &[open] {
                animation: scale-up-slide-down-right 0.5s ease-in-out;
            }
            
            &:not([open]) {
                opacity: 0;
                pointer-events: none;
                transition: all 0.5s ease-in-out;
            }

            &.initializing {
                display: none !important;
                transition: none !important;
                animation: none !important;
                opacity: 0 !important;
            }

            @screen md {
                width: calc(100% - 8rem);
            }

            @screen lg {
                width: 75%;
            }

            &::backdrop {
                background-color: rgba(0, 0, 0, 0.3);
            }

            & > .main-menu-wheel-container {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 9;
            }
        }


        & .main-menu-wheel {
            width: 100%;
            height: 100%;
            min-height: 100%;
            & > canvas {
                width: 100%;
                height: 100%;
            }
        }

        & .main-menu-close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2rem;
            appearance: none;
            background-color: transparent;
            border: none;
            color: #fff;
            cursor: pointer;
            z-index: 99;
        }
    }

    #nightSky {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        z-index: -1;
    }

    .masonry-layout-item {
        object-fit: cover;
        height: 300px;
        width: 100%;

        &:nth-child(odd) {
            height: 250px;
        }
    }

    @keyframes scale-up-slide-down-right {
        0% {
            transform: scale(0.25) translate(-200%, -200%);
        }
        100% {
            transform: scale(1) translate(0, 0);
        }
    }

    @keyframes scale-down-slide-up-left {
        0% {
            transform: translate(0, 0) scale(1);
        }
        100% {
            transform: translate(-200%, -200%) scale(0.5);
        }
    }
}

@layer utilities {
    .content-auto {
        content-visibility: auto;
    }

    .inner-shadow-2 {
        box-shadow: var(--inner-shadow-2);
    }
}
